body{
    background-image: url(https://marketplace.canva.com/EAD2962NKnQ/2/0/1600w/canva-rainbow-gradient-pink-and-purple-zoom-virtual-background-_Tcjok-d9b4.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#presentation{
    text-align: center;
    height: 100px;
}


#choosefranceschi{
    font-size: 40px; 
    font-style: italic;
    color: purple;
    text-align: center;
    height: 60px;
    width: 750px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    
}

.imgtochoose{
    width: 400px;
    border: 3px solid;
    border-radius: 80px;
    float: left;
}


.imgtochoose:hover{
    color: purple;
    opacity: .7;
}

.moviename{
    font-size: 20px;
    font-family:"Rowdies";
    position: absolute;
    top: 520px;
    margin-left: 60px;
}

.twilightcover{
    position: absolute;
    left: 450px;
    width: 400px;
    height: 250px;
    border: 3px solid purple;
    border-radius: 80px;
}

.twilightcover:hover{
    color: purple;
    opacity: .7;
}

.twilightsub{
    font-size: 20px;
    font-family:"Rowdies";
    position: absolute;
    top: 530px;
    left: 450px;
    margin-top: 8px;
    margin-left: 100px;
}