body{
    background-image: url(https://images.pling.com/img/00/00/62/09/22/1793055/outrun-neon-dark-background-purple-1920x1080-45231.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container{
    display: flex;
    flex-wrap: wrap;
    align-content:flex-start;
    row-gap: 3rem;
    column-gap: 5rem;
    padding: 5px;
    margin-top: 3%;
}


.cover{
    width: 300px;
    height: 450px;
    
    border: 3px solid purple;
    border-radius: 80px;

    transition: transform 2s ease-in-out; 
}

.cover:hover{
    opacity: .7;
    border-color: blue;
    transform: rotate(360deg);
}

p{
    font-size: 23px;
    font-family: "Rowdies";
    color: white;
    text-align: center;
}

.twilightsound{
    position: fixed;
    left: 50%;
    top: auto;
    right: 50%;
    bottom: 5%;
}